name: Run E2E Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-e2e:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Set up webserver and Test Project
        run: |
          ./run prepare:repo
          ./run prepare:container
          touch wrapper-mingle/database/database.sqlite
          docker compose run --rm webapp php artisan migrate:fresh --seed --force

          docker compose run --rm webapp bash -c "npm ci ; npm run build"
          ./run ci:server

          npm ci
          npx playwright install --with-deps
          # Wait for the webserver to be ready
          npx wait-on http://localhost:8080 -t 15s
          # curl http://localhost:8080
          npm run test

      - uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
